<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <title>Finstagram</title>
    </head>
    <body>
        <header>
            <h1>Finstagram </h1>
         </header>
         <main role="main">
            <article class="finstagram-post">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQr-REwiHjWTggxPBCOQ5QYDubnsPPDxeqy0xAqEqJyexmV21cw1gff9n9dotA6qnAZ80&usqp=CAU" alt="sharky_j">
                    <h2>sharky_j</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a href="#">
                    <img src="http://pm1.narvii.com/6885/9870d9705f389f3d619df47875d4bb7b814ddd87r1-650-650v2_uhq.jpg" alt="post from sharky_j">
                </a>
                <div>
                    0 likes
                    <span>0 comments</span>
                </div>
                    <ul>
                        <li>
                            <p>
                                sharky_j: Out for the long weekend to hunt for the 9 tails! Check out my beach bod! 
                            </p>
                        </li>
                    </ul>
            </article>
        </main>    
    </body>
</html>